<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:sca="http://www.springframework.org/schema/sca"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
            http://www.springframework.org/schema/sca http://www.springframework.org/schema/sca/spring-sca.xsd">
            
            
    <sca:reference name="accountService" type="com.sohu.spaces.user.service.AccountService" />
    <sca:reference name="videoInfoService" type="com.sohu.spaces.videos.service.VideoInfoService" />
    <sca:reference name="vrsTvSetService" type="com.sohu.spaces.vrs.service.VrsTvSetService"  />
    <sca:reference name="vrsApplicationService" type="com.sohu.spaces.vrs.service.VrsApplicationService" />
    <sca:service name="enterpriseService" type="com.sohu.spaces.enterprise.service.EnterpriseService" target="enterpriseService" />
</beans>